<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="election-toolbar">
  <mat-toolbar>
    <mat-toolbar-row>
      <!-- Page title -->
      <span class="toolbar-title">
        <i class="material-icons">how_to_vote</i>
        &nbsp; Elections
      </span>

      <!-- Add & Delete Elections buttons -->
      <span class="example-spacer"></span>

      <button mat-flat-button color="primary" class="toolbar-button" data-toggle="modal" data-target="#addElectionModal">
        <i class="material-icons">add</i>
        &nbsp; Add Election
      </button>

      <button mat-stroked-button color="warn" class="toolbar-button">
        <i class="material-icons">delete</i>
        &nbsp; Delete All
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="container">
  <div class="row">
    <div class="election-table">
      <!-- Search bar -->
      <mat-form-field appearance="standard">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)">
      </mat-form-field>

      <!-- Voters table -->
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="elections">

          <!-- Name Column -->
          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Election </th>
            <td mat-cell *matCellDef="let element" (click)="Onedit(element)"> {{element.Name}} </td>
          </ng-container>

         <!-- Registration No. Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element" (click)="Onedit(element)"> {{element.date}} </td>
          </ng-container>

          <!-- Phone number -->
          <ng-container matColumnDef="stime">
            <th mat-header-cell *matHeaderCellDef> Start Time </th>
            <td mat-cell *matCellDef="let element" (click)="Onedit(element)" > {{element.stime}} </td>
          </ng-container>

          <ng-container matColumnDef="etime">
            <th mat-header-cell *matHeaderCellDef> End Time </th>
            <td mat-cell *matCellDef="let element" (click)="Onedit(element)"><div> <button type="button" name="button"> start Election</button></div> </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- Pagination option -->
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>

    <!-- <div class="col-4">
      <mat-card class="election-card"> -->

        <!-- Card Header with election timer -->
        <!-- <mat-card-header>
          <mat-card-title>Election starts in:</mat-card-title>
        </mat-card-header>

        <mat-card-header>
          <mat-card-title class="election-timer"><app-starttimer></app-starttimer></mat-card-title>
        </mat-card-header> -->

        <!-- Election details-->
        <!-- <div class="election-details"> -->
          <!-- <mat-card-content>
            <ul>
              <li>
                <mat-label><b>Election Name:</b></mat-label>
              </li>
              <li>
                <mat-label><b>Election Date:</b></mat-label>
              </li>
              <li>
                <mat-label><b>Start Time:</b></mat-label>
              </li>
              <li>
                <mat-label><b>End Time:</b></mat-label>
              </li>
            </ul>
          </mat-card-content> -->

          <!-- Buttons to Edit and Delete Candidates -->
          <!-- <mat-card-actions>
            <button mat-flat-button color="primary" data-toggle="modal" data-target="#editCandidateModal">Edit Election</button>
            <button mat-stroked-button color="warn" (click)="Ondelete(candidateService.selectedCandidate._id)">Delete Election</button>
          </mat-card-actions> -->
        <!-- </div> -->
      <!-- </mat-card>
    </div> -->
  </div>
</div>

<!-- Add Election Modal -->
<div class="modal fade" id="addElectionModal" tabindex="-1" role="dialog" aria-labelledby="addElectionTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="addElectionTitle">New Election</h5>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <form #electionForm="ngForm" class="electionform" (ngSubmit)="electionForm.valid && onSubmit(electionForm)">
          <!-- <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="userService.selectedUser._id"> -->

          <!-- Election name -->
          <mat-form-field appearance="standard">
            <mat-label>Election Name</mat-label>
            <input matInput #Name="ngModel" [(ngModel)]="electionService.selectedElection.Name" name="Name" required>
          </mat-form-field><br>

          <!-- Election Date -->

            <mat-label>Election Starting time </mat-label>
              <div>
             <input  placeholder="Election Date" #date="ngModel" [(ngModel)]="electionService.selectedElection.stime"
              name="stime" type="datetime-local" required>
          </div>
            <!-- <input type="text" #date="ngModel" [(ngModel)]="electionService.selectedElection.date" name="date" placeholder="Election Date"
              required [ngClass]="{'invalid-textbox' :electionForm.submitted && !date.valid }"> -->

            <mat-label>Election ending time </mat-label>
          <div>
          <input type="datetime-local" [(ngModel)]="electionService.selectedElection.etime" #etime="ngModel" name="etime" placeholder="Ending TIme"
          ><br>
      </div>

          <div class="modal-footer">
            <button mat-button type="button" data-dismiss="modal">Cancel</button>
            <button mat-raised-button color="primary" type="submit">Set Election</button>
          </div>
        </form>
      </div>

      <!-- Modal Footer -->
      <div class="success" *ngIf="showSucessMessage">
        Saved successfully
      </div>

      <div class="alert" *ngIf="serverErrorMessages">
        {{serverErrorMessages}}
      </div>
    </div>
  </div>
</div>
