<app-userheader></app-userheader>
<app-usersidebar></app-usersidebar>
<form #candidateform ="ngForm" (ngSubmit)="candidateform.valid && Onsubmit(candidateform)">

  <div class="example-container">

      <h2>Register Candidate</h2>
    
    <mat-form-field>
      <input matInput type="text" placeholder="Candidate Name" name ="candidatename" #candidatename = "ngModel" [(ngModel)]="candidateService.selectedCandidate.candidatename" required >
    </mat-form-field>
    <mat-form-field>
        <input matInput type="text" placeholder="Registration Number" name ="registrationnumber" #registrationnumber = "ngModel" [(ngModel)]="candidateService.selectedCandidate.registrationnumber" required>
      </mat-form-field>
         <mat-form-field>
        
        <mat-select placeholder="Select Your Course" name ="iscs" #icsc = "ngModel"  [(ngModel)]="candidateService.selectedCandidate.iscs" required>
          <mat-option value="cs"  >Computer Science</mat-option>
          <mat-option value="is">Information System</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <textarea matInput type="text" placeholder="Description" name ="description" #description = "ngModel" [(ngModel)]="candidateService.selectedCandidate.description" required></textarea>
    </mat-form-field>
    <div class ="btn">
    <button mat-raised-button color="primary" type ="submit">Submit</button>
    </div>
    </div>
    </form>

<div class="success" *ngIf="showSucessMessage">
  Saved successfully
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>
