.overview-toolbar {
  margin-top: 75px;
}

.toolbar-title {
  margin-left: 230px;
}

.mat-toolbar {
  background-color: #ebedf7;
}

i {
  vertical-align: middle;
}

.material-icons {
  font-size: 35px;
}

.example-container {
  display: flex;
  flex-direction: column;
  margin-top:80px;
  margin-left: 20%;
  margin-right: 5%;
  padding: 20px 10% 20px 10%;
  background-color: #1C2A39;
  color: white;
}
  
.card {
  text-align: center;
}

.candidate-container {
  display: flex;
  flex-direction: column;
  margin-top:80px;
  margin-left: 20%;
  margin-right: 5%;
  padding: 20px 10% 20px 10%;
}

.mat-form-field {
  width: 100%;
}
  
.example-container > * {
    width: 50%;
  }

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    width:50%;
    margin-left: 200px;
    
  }
  
  .success{
    padding: 20px;
    background-color:#249424; /* Green */
    color: white;
    margin-bottom: 15px;
    width:50%;
    margin-left: 200px;
  
  }
  