<nav class="navbar navbar-expand-lg fixed-top shadow">
  <img src="/src/assets/img/Copy of UCSC_logo-Converted-white (1).png" width="40" height="40" class="d-inline-block align-top"
    alt="">
  <li class="navbar-brand">UCSC Online Voting System</li>
</nav>

<form #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">

  <!-- Form content -->
  <div class="login-container">

    <!-- User Name -->
    <mat-form-field appearance="standard">
      <mat-label>User Name</mat-label>
      <input matInput name="userName" #userName="ngModel" [(ngModel)]="model.userName" required [ngClass]="{'invalid-textbox' :signInForm.submitted && !userName.valid }">
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" name="password" #password="ngModel" [(ngModel)]="model.password"
        required [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
    </mat-form-field>
    <div *ngIf="signInForm.submitted && password.errors?.minlength">
      <!-- <label class="validation-message">Minimum 4 characters.</label> -->
    </div>

    <!-- Submit -->
    <input type="submit" value="Log In">
  </div>

</form>

<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>