<div class="sidenav">
    
  <a href="/userprofile/dashboard" ><i class="material-icons">
      dashboard &nbsp; 
      </i> Dashboard</a>
  <a href="/userprofile/profile"><i class="material-icons">
      supervised_user_circle &nbsp; 
      </i> Profile </a>
  <a href="/userprofile/election"><i class="material-icons">
      description &nbsp; 
      </i>  Election</a>
   <a href="/userprofile/getkeys"><i class="material-icons">
        description &nbsp; 
        </i> Get Your Key</a>
  
</div>
