<!-- Side navigation -->
<div class="sidenav">

    <ul class="sidebar-nav">
        <li>
            <a href="userprofile/overview">
                <i class="material-icons">home</i>
                &nbsp; Overview
            </a>
        </li>

        <li>
            <a href="userprofile/election">
                <i class="material-icons">how_to_vote</i>
                &nbsp; Elections
            </a>
        </li>

        <li>
            <a href="userprofile/rules">
                <i class="material-icons">event_available</i>
                &nbsp; Rules & Regulations
            </a>
        </li>

        <li>
            <a href="userprofile/getkeys">
                <i class="material-icons">vpn_key</i>
                &nbsp; Key Pair
            </a>
        </li>

        <li>
            <a href="userprofile/profile">
                <i class="material-icons">person</i>
                &nbsp; Account
            </a>
        </li>
        
        <li>
            <a href="login">
                <i class="material-icons">exit_to_app</i>
                &nbsp; Logout
            </a>
        </li>
    </ul>
</div>

<!-- <div class="sidenav">
    
  <a href="/userprofile/dashboard" ><i class="material-icons">
      dashboard &nbsp; 
      </i> Dashboard</a>
  <a href="/userprofile/profile"><i class="material-icons">
      supervised_user_circle &nbsp; 
      </i> Profile </a>
  <a href="/userprofile/election"><i class="material-icons">
      description &nbsp; 
      </i>  Election</a>
   <a href="/userprofile/getkeys"><i class="material-icons">
        description &nbsp; 
        </i> Get Your Key</a>
  
</div> -->
