<div class="container" id="spacing">
  <div class="row justify-content-md-center">
    <div class="col-12">
      <div class="card-deck">
        <div class="card text-white number-card">
          <div class="card-body">
            <div class="card-icon">
              <i class="material-icons">people</i>
            </div>
            <div class="card-text">
              <h2 class="card-title">{{ totalCandidates }}</h2>
              <h4 class="card-title">Candidates</h4>
            </div>
          </div>
        </div>
        <div class="card text-white number-card">
          <div class="card-body">
            <div class="card-icon">
              <i class="material-icons">how_to_reg</i>
            </div>
            <div class="card-text">
              <h2 class="card-title">{{ totalRegisteredVoters }}</h2>
              <h4 class="card-title">Registered Voters</h4>
            </div>
          </div>
        </div>
        <div class="card text-white number-card">
          <div class="card-body">
            <div class="card-icon">
              <i class="material-icons">how_to_vote</i>
            </div>
            <div class="card-text">
              <h2 class="card-title">{{ totalVotes }}</h2>
              <h4 class="card-title">Total Votes</h4>
            </div>
          </div>
        </div>
      </div>

      <!-- Charts and Graphs-->
      <div class="card">
        <div class="card-body">
          <div style="display: block">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
              [chartType]="barChartType"></canvas>
          </div>
        </div>
      </div>

      <div class="card-deck">
        <!-- President -->
        <div class="card">
          <div class="card-body">
            <div style="display: block">
              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [legend]="barChartLegend" [chartType]="barChartType"></canvas>
            </div>
          </div>
        </div>

        <!-- Vice President -->
        <div class="card">
          <div class="card-body">
            <div style="display: block">
              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [legend]="barChartLegend" [chartType]="barChartType"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="card-deck">
          <!-- Secretary -->
          <div class="card">
            <div class="card-body">
              <div style="display: block">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                  [legend]="barChartLegend" [chartType]="barChartType"></canvas>
              </div>
            </div>
          </div>
  
          <!-- Treasurer -->
          <div class="card">
            <div class="card-body">
              <div style="display: block">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                  [legend]="barChartLegend" [chartType]="barChartType"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="card-deck">
          <!-- Editor -->
          <div class="card">
            <div class="card-body">
              <div style="display: block">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                  [legend]="barChartLegend" [chartType]="barChartType"></canvas>
              </div>
            </div>
          </div>

          <!-- Committee Members -->
          <div class="card">
            <div class="card-body">
              <div style="display: block">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                  [legend]="barChartLegend" [chartType]="barChartType"></canvas>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
