.header {
    overflow: hidden;
    top:0;
    background-color:#111;
    padding: 20px 10px;
    position: fixed;
    width: 100%;
    margin-left: 0px;
    left: 0;
    height: 100px;
  }
  
  .header a {
    float: left;
    color: #f1f1f1;
    text-align: 5px;
   
    padding: 10px;
    
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    float:left;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  *:focus {
    outline: none;
}

#icon {
  float:left;
  width:10%;
  height: 2%;
  background-size: 10px;
  left:0;
  margin-left:0px;
}

* {
  box-sizing: border-box;
}

  