
<h1>Confirm Your Email</h1>




  <form #verifyForm="ngForm"  (ngSubmit)="verifyForm.valid && onSubmit(verifyForm)" >


    <label>Please Insert Your token that you recived via Email<br></label>
    <input type="text" #randomstring="ngModel" [(ngModel)]="tokenService.selectedToken.randomstring"  name="randomstring" placeholder="Paste your token here"
    required  [ngClass]="{'invalid-textbox' :verifyForm.submitted && !randomstring.valid}">
    <div *ngIf="verifyForm.submitted && !randomstring.valid">
      <label class="validation-message">This field is required.</label>
    </div>

  

      <input type="submit" value="Submit">

      </form>

      <div class="success" *ngIf="showSucessMessage">
          Saved successfully
        </div>
        <div class="alert" *ngIf="serverErrorMessages">
          {{serverErrorMessages}}
        </div>
        
