@import url('https://fonts.googleapis.com/css?family=Poppins');

.verify-email-container {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}

h3 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  color: #3F51B5;
}



/* STRUCTURE */

p {
  text-align: left;
  margin-top: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.formContent {
  border-radius: 10px 10px 10px 10px;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: absolute;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
  margin: auto;
  top: 150px;
  right: 0;
  left: 0;
  border-radius: 3px;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  cursor: pointer;
  background-color: #3F51B5;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #5262bc;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=submit]:disabled{
  background-color: grey;
  color: white;
}

label.validation-message{
  color:#ed5558;
  font-size: 14px;

}

/* OTHERS */

*:focus {
    outline: none;
}

#icon {
  width:50%;
}

* {
  box-sizing: border-box;
}


.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

.success{
  padding: 20px;
  background-color:#249424; /* Green */
  color: white;
  margin-bottom: 15px;
}

/* Header design */
i {
  vertical-align: middle;
}

.navbar {
  background-color: #3F51B5;
}

.navbar-brand {
  color: white;
  padding: 16px;
}

* {
  box-sizing: border-box;
}