.gr{
  margin-left:200px;
  margin-top: 100px;
  width:50%;
}

/* Spacing for sidebar and header */
#spacing {
  padding-left: 220px;
  padding-top: 130px;
}

.card {
  height: 150px;
}

.card-text {
  text-align: right;
}

.material-icons {
  font-size: 35px;
}