.rules-container {
    display: flex;
    flex-direction: column;
    margin-top:100px;
    margin-left: 300px;
  }
  
  .rules-container > * {
     
    width: 50%;
  }
  .alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    width:50%;
    margin-left: 200px;
    
  }
  
  .success{
    padding: 20px;
    background-color:#249424; /* Green */
    color: white;
    margin-bottom: 15px;
    width:50%;
    margin-left: 200px;
  
  }
  