<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="voter-toolbar">
  <mat-toolbar>
    <span class="toolbar-title">
      <i class="material-icons">how_to_reg</i>
      &nbsp; Voters
    </span>
  </mat-toolbar>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <!-- Search bar -->
      <mat-form-field appearance="standard">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event.target.value)">
      </mat-form-field>

      <!-- Voters table -->
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- Pagination option -->
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>

    <div class="col-4">
      <mat-card class="voter-card">

        <!-- Card Header with voter image and name -->
        <mat-card-header>
          <div mat-card-avatar class="voter-header-image"></div>
        </mat-card-header>
        <mat-card-header>
          <mat-card-title>Voter Name</mat-card-title>
        </mat-card-header>

        <!-- Voter details-->
        <div class="voter-details">
          <mat-card-content>
            <ul>
              <li>
                <mat-label>Registration No.: </mat-label>
              </li>
              <li>
                <mat-label>Academic Year: </mat-label>
              </li>
              <li>
                <mat-label>Telephone No.: </mat-label>
              </li>
            </ul>
          </mat-card-content>

          <!-- Buttons to Edit and Delete Voters -->
          <mat-card-actions>
            <button mat-raised-button color="primary">Edit Voter</button>
            <button mat-stroked-button color="warn">Delete Voter</button>
          </mat-card-actions>
        </div>
      </mat-card>

    </div>
  </div>
</div>