.candidate-toolbar {
    margin-top: 75px;
  }
  
  .toolbar-title {
    margin-left: 230px;
  }
  
  .toolbar-spacer {
    flex: 1 1 auto;
  }
  
  .toolbar-button {
    margin: 10px;
  }
  
  .mat-toolbar {
    background-color: #ebedf7;
  }
  
  i {
    vertical-align: middle;
  }
  
  .container {
    margin-top: 20px;
    margin-left: 300px;
    margin-bottom: 40px;
  }
  
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-header-cell {
    color: white;
    background-color: #3F51B5;
  }
  
  .candidate-card {
    width: 450px;
    height: 475px;
  }
  
  .candidate-header-image {
    background-image: url('/assets/img/user-icon.jpg');
    background-size: cover;
  }
  
  .mat-card {
    padding: 0px;
  }
  
  .mat-card-header {
    background-color: #1C2A39;
    padding: 24px 24px 0px 24px;
    justify-content: center;
  }
  
  .mat-card-title {
    color: white;
    font-size: 24px;
    padding: 0px;
  }
  
  .candidate-details {
    padding: 24px;
  }
  
  ul {
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  ul li {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .mat-card-avatar {
    height: 120px;
    width: 120px;
  }
  
  .col-4 {
    margin-left: 100px;
  }
  
  .mat-card-actions {
    padding-right: 10px;
    float: right;
  }
  
  .mat-card-actions .mat-stroked-button {
    margin-left: 20px;
  }
  