  div .header-right {
    float: right;
  }

  i {
    vertical-align: middle;
  }
  
  .navbar {
    background-color: #3F51B5;
  }
  
  .navbar-brand {
    color: white;
    padding: 16px;
  }
  
  * {
    box-sizing: border-box;
  }

  .navbar-nav {
    margin-left: 900px;
  }