.public{
    width :35%;
}
.private{
    margin-left: 20px;
    width :40%;
}
.button{
    margin-left: 550px;
    
}
#d{
    margin-left: 1cm;
}

#form{
    margin-top:100px;
    margin-left: 10cm;
}
