<!-- Side navigation -->
<div class="sidenav">
    
  <a href="dashboard" ><i class="material-icons">
      dashboard
      </i> Dashboard</a>
  <a href="members"><i class="material-icons">
      supervised_user_circle
      </i> Members</a>
  <a href="election"><i class="material-icons">
      description
      </i> Set Election</a>
  <a href="rules"><i class="material-icons">
      event_available
      </i> Rules and Regulations</a>
</div>

<!-- Page content -->
<div class="main">
  ...
</div>