<!-- Side navigation -->
<div class="sidenav">

    <ul class="sidebar-nav">
        <li>
            <a href="admin/overview">
                <i class="material-icons">home</i>
                &nbsp; Overview
            </a>
        </li>

        <li>
            <a href="admin/election">
                <i class="material-icons">how_to_vote</i>
                &nbsp; Elections
            </a>
        </li>

        <li>
            <a href="admin/candidates">
                <i class="material-icons">people</i>
                &nbsp; Candidates
            </a>
        </li>

        <li>
            <a href="admin/voters">
                <i class="material-icons">how_to_reg</i>
                &nbsp; Voters
            </a>
        </li>

        <li>
            <a href="admin/rules">
                <i class="material-icons">event_available</i>
                &nbsp; Rules & Regulations
            </a>
        </li>

        <li>
            <a href="*">
                <i class="material-icons">person</i>
                &nbsp; Account
            </a>
        </li>
        
        <li>
            <a href="login">
                <i class="material-icons">exit_to_app</i>
                &nbsp; Logout
            </a>
        </li>
    </ul>
</div>