<!-- Side navigation -->
<div class="sidenav">
    
  <a href="admin/dashboard" >Dashboard <i class="material-icons">
    dashboard 
    </i></a>
  <a href="admin/members"> Members <i class="material-icons">
    supervised_user_circle 
    </i></a>
  <a href="admin/election"> Set Election <i class="material-icons">
    description 
    </i></a>
  <a href="admin/rules"> Rules and Regulations <i class="material-icons ">
    event_available 
    </i></a>
</div>

<!-- Page content -->
<div class="main">
  ...
</div>