.gr{
    margin-left:200px;
    margin-top: 100px;
    width:50%;
  }
  
  .imgs{
    width: 40%;
    margin-left:200px;
  }
  .grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }
  
  .sample-content{
   
    width: 320px;
    display: inline-block;
    padding-right:100px;
    
  }
  .sample-wrapper{
    margin-top: 100px;
    margin-left :200px;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }