<nav class="navbar navbar-expand-lg fixed-top shadow">
  <img src="/src/assets/img/Copy of UCSC_logo-Converted-white (1).png" width="40" height="40" class="d-inline-block align-top"
    alt="">
  <li class="navbar-brand">UCSC Online Voting System</li>
</nav>

<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="userService.selectedUser._id">

  <!-- Form content -->
  <div class="signup-container">

    <!-- User Name -->
    <mat-form-field appearance="standard">
      <mat-label>User Name</mat-label>
      <input matInput #userName="ngModel" [(ngModel)]="userService.selectedUser.userName" name="userName" required
        [ngClass]="{'invalid-textbox' :signUpForm.submitted && !userName.valid }">
    </mat-form-field>
   

    <!-- Registration Number -->
    <mat-form-field appearance="standard">
      <mat-label>Registration Number</mat-label>
      <input matInput #registrationnumber="ngModel" [(ngModel)]="userService.selectedUser.registrationnumber" name="registrationnumber" matTooltip="eg: 2014CS123" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !registrationnumber.valid }">
    </mat-form-field>
  

    <!-- Email -->
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input matInput #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" required [pattern]="emailRegex"
        [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
    </mat-form-field>
    <div *ngIf="signUpForm.submitted && email.errors">
      <mat-error href="#" *ngIf="email.errors.required" data-toggle="popover" data-content="Required"></mat-error>
      <mat-error *ngIf="email.errors.pattern">Invalid email address.</mat-error>
    </div>

    <!-- Phone Number -->
    <mat-form-field appearance="standard">
      <mat-label>Phone Number</mat-label>
      <input matInput #phonenumber="ngModel" [(ngModel)]="userService.selectedUser.phonenumber" name="phonenumber" matTooltip="eg: +94XXXXXXXXX"
        required [pattern]="phone" [ngClass]="{'invalid-textbox' :signUpForm.submitted && !registrationnumber.valid }">
    </mat-form-field>
    <div *ngIf="signUpForm.submitted && !phonenumber.valid">
      <mat-error *ngIf="phonenumber.errors.required"></mat-error>
      <mat-error *ngIf="phonenumber.errors.pattern">Invalid Phone Number.</mat-error>
    </div>

    <!-- Password -->
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" #password="ngModel" [(ngModel)]="userService.selectedUser.password"
        name="password" matTooltip="Password must include at least 8 characters including one number, one
        upper case letter and one lower case letter" minlength="8" required [pattern]="re" [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
    </mat-form-field>
    <div *ngIf="signUpForm.submitted && password.errors">
      <mat-error *ngIf="password.errors.required"></mat-error>
      <mat-error *ngIf="password.errors.minlength">Enter atleast 8 characters.<br></mat-error>
      <mat-error *ngIf="password.errors.pattern">Password must include at least one number, one
        upper case letter and one lower case letter</mat-error>
    </div>

    <!-- Confirm Password-->
    <mat-form-field appearance="standard">
      <mat-label>Confirm Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" appConfirmEqualValidator="password" #cpassword="ngModel"
        [(ngModel)]="userService.selectedUser.cpassword" name="cpassword" minlength="8" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !cpassword.valid }">
    </mat-form-field>
    <div *ngIf="signUpForm.submitted && cpassword.errors">
      <mat-error *ngIf="cpassword.errors.required"></mat-error>
      <mat-error *ngIf="cpassword.errors.minlength">Enter at least 8 characters.<br></mat-error>
      <mat-error *ngIf="cpassword.errors.notEqual">Password and confirm password doesn't match</mat-error>
    </div>

    <!-- Submit -->
    <input type="submit" value="Sign Up">
  </div>
</form>

<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
  Saved successfully. Please Verify your email address.
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>